.dashboard_container {
 height: 100vh;
 background-color: #dbf0b5;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}

.lecture_box {
 width: 70%;
 height: 700px;
 overflow: hidden;
 background-color: #acf7ff;
}