html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
article,
footer,
header,
nav {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 font-family: 'Open Sans', sans-serif;
}

footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}

body {
 line-height: 1;
}

ol,
ul {
 list-style: none;
}

input:focus {
 outline: none;
}

input::placeholder {
 font-size: 24px;
 color: #888787;
}

input[type="file"] {
 width: 11rem;
 display: flex;
 height: 10px;
 padding: 20px;
 font-size: 32px;
 margin: -28px 40px;
 border-radius: 4px;
 background-color: #0e7fbf;
}

input {
 box-sizing: border-box;
 border: none;
 cursor: pointer;
}

a {
 text-decoration: none;
 color: black;
}

.title {
 font-size: 18px;
 font-weight: bold;
 margin: 46px 0px 30px 0;
}

.title-1 {
 color: #DF91F2;
}

.title-2 {
 color: #91F2A6;
}

.title-3 {
 color: #4DE3ED;
}